.not-found-container {
  background-color: #ffffff;
  width: 1280px;
  height: 898px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound-image {
  width: 347px;
  height: 290px;
}

.notfound-heading {
  color: #334155;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.1px;
  text-align: center;
}

.notfound-description {
  
  
width: 442px;
height: 24px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: center;
color: #334155CC;


}

/*@media screen and (max-width: 766px) {
  .notfound-description {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-notfound-description {
    display: none;
  }
}
*/
@media screen and (max-width:800px) {
  .not-found-container {
    width: 360px;
    height: 800px;
  }
  .notfound-image {
    width: 212.75px;
    height: 177.8px;
  }
  .notfound-heading {
    font-size: 16px;
  }
 .notfound-description {
    width: 226px;
height: 48px;
top: 463.71px;
left: 67px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: center;
color: #191919CC;

  }
}
