.confirmation-left-section {
  display: flex;
  flex-direction: row;
  background-color: #f1f5f9;
  width: 1280px;
}

.confirmation-section {
  display: flex;
  flex-direction: row;
  padding-top: 44px;
  padding-right: 52px;
}
.confirmation-right-section {
  display: flex;
  flex-direction: column;
  background-color: #304766;
  width: 800px;
  height: 579px;
  border-radius: 0px 16px 16px 0px;
}

.confirmation-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  padding-top: 28px;
}

.confirmation-paragraph {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #f1f5f9;
  padding-bottom: 10px;
  margin-top: -12px;
}

.form-details-confirmation {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.confirmation-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  width: 409px;
  height: 434px;
  border-radius: 16px;
}

.confirmation-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 62px;
  padding-top: 15px;
  list-style-type: none;
}

.list-name {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 12px;
  padding-right: 76px;
}
.name-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 12px;
}
.list-start {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: -12px;
  padding-right: 20px;
}
.start-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -12px;
}

.list-end {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: -12px;
  padding-right: 28px;
}
.end-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -12px;
}

.list-start-date {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: -12px;
  padding-right: 50px;
}
.start-date-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -12px;
}

.list-end-date {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: -12px;
  padding-right: 58px;
}
.end-date-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -12px;
}

.list-guests {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: -18px;
  padding-right: 72px;
}
.guests-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -18px;
}
.list-travel {
  color: #334155;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: -18px;
  padding-right: 40px;
}
.travel-list-section {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: -18px;
}
.confirmation-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-left: 130px;
  padding-top: 20px;
}

.confirmation-previous {
  flex-direction: row;
  padding-left: 14px;
}

.confirmation-cancel-button {
  width: 71px;
  height: 32px;
  color: #2563eb;
  background-color: #dbeafe;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
}

.confirmation-confirm-button {
  width: 78px;
  height: 32px;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  background-color: #2563eb;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  box-shadow: 0px -1px 0px 0px #00000033 inset;
}