.home-background {
  background-color: #f5f5f5;
  background-size: cover;
  height: 898px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 1280px;
}

.homepage-image {
  width: 644px;
  height: 624px;
  margin-top: 60px;
  margin-right: 126px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 84px;
  margin-left: 162px;
}

.home-heading {
  color: #304766;
  font-family: 'Roboto';
  font-size: 56px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
}

.home-paragraph {
  color: #304766;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
}

.book-button {
  background-color: #304766;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  width: 175px;
  height: 48px;
  border: none;
  border-radius: 8px;
  padding: 12px 24px 12px 24px;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .homepage-mobile-image {
    display: none;
  }
}

/*@media screen and (max-width: 766px) {
  .homepage-image {
    display: none;
  }
  .home-heading {
    display: none;
  }
  .home-paragraph {
    display: none;
  }
}*/

@media screen and (max-width: 766px) {
  .home-background {
    background-color: #ffffff;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    margin-top: -72px;

    top: 198px;
    left: -15556px;
    gap: 0px;
    opacity: 0px;
    background-size: cover;
  }
  .homepage-mobile-image {
    width: 227px;
    height: 312px;
    top: 72px;
    left: 66px;
    gap: 0px;
    opacity: 0px;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
  }

  .home-heading {
    width: 328px;
    height: 32px;
    top: 432px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
  }
  .home-paragraph {
    color: #304766;
    width: 328px;
    height: 64px;
    top: 496px;
    left: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
  }
  .book-button {
    width: Hug (175px) px;
    height: Hug (48px) px;
    top: 616px;
    left: 95px;
    padding: 12px 24px 12px 24px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
  }
  .homepage-image {
    display: none;
  }
}
