.sidebar-container {
  background-color: #f1f5f9;
  height: 898px;
  width: 1280px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 160px;
  padding-top: 44px;
}

.white-container {
  background-color: #ffffff;
  width: 268px;
  height: 579px;
  border-radius: 16px 0px 0px 16px;
  padding-left: 12px;
  padding-top: 14px;
}

.menu-list {
  list-style-type: none;
}

.link-item-details {
  text-decoration: none;
}

.your-details-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 34px;
}

.number-text {
  width: 32px;
  height: 32px;
  border: 1px solid #cbd5e1;
  border-radius: 50px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #1e293b;
  padding-top: 6px;
}

.your-head-text {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  color: #1e293b;
  text-align: right;
  padding-top: 8px;
  padding-left: 14px;
}

.number-text-blue {
  width: 32px;
  height: 32px;
  border: 1px solid #3b82f6;
  background-color: #3b82f6;
  border-radius: 50px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  padding-top: 6px;
}

.your-head-text-blue {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #2563eb;
  text-align: right;
  padding-top: 8px;
  padding-left: 14px;
}

.your-details-text.active-tab .your-head-text {
  color: #3b82f6;
}

.complete-step .number-text {
  color: green;
  border-color: green;
}

.number-text.complete {
  color: white;
}

.complete-step .your-head-text {
  color: green;
}

.completion-image {
  width: 32px;
  height: 32px;
  gap: 0px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 360px) and (max-width: 800px) {
  .sidebar-container {
    display: none;
  }
}
