.footer-container {
  background-color: #ffffff;
  border-top: 2px solid #cbd5e1;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  width: 360px;
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  bottom: 0px;
  box-shadow: 0px 7px 32px 0px #0000000d;
}

.footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-link {
  text-decoration: none;
  align-self: flex-start;
  padding-left: 34px;
}

.home-icon {
  width: 18px;
  height: 21px;
  color: #7a8493;
  border: none;
  align-self: flex-start;
  cursor: pointer;
}

.footer-home {
  font-family: 'Roboto';
  font-size: 8px;
  color: #475569;
  font-weight: 600;
  line-height: 21px;
  width: 35px;
  height: 21px;
  align-self: flex-start;
  padding-bottom: 3px;
}

.mytrip-link {
  text-decoration: none;
  align-self: center;
  padding-top: 12px;
  padding-right: 66px;
  padding-left: 88px;
}

.mytrip-icon {
  width: 18px;
  height: 21px;
  color: #7a8493;
  border: none;
  cursor: pointer;
}

.footer-mytrip {
  font-family: 'Roboto';
  font-size: 8px;
  color: #475569;
  font-weight: 600;
  height: 21px;
  width: 35px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 22px;
}
.logout-icon {
  width: 18px;
  height: 21px;
  color: #7a8493;
  border: none;
  cursor: pointer;
}

.logout-btn {
  width: 42px;
  height: 21px;
  font-family: Inter;
  font-size: 8px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.1px;
  text-align: left;
  color: #475569;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;
}

@media screen and (min-width: 767px) {
  .footer-container {
    display: none;
  }
  .footer-items {
    display: none;
  }
  .home-link {
    display: none;
  }
  .home-icon {
    display: none;
  }
  .footer-home {
    display: none;
  }
  .mytrip-link {
    display: none;
  }
  .mytrip-icon {
    display: none;
  }
  .footer-mytrip {
    display: none;
  }
  .button-container {
    display: none;
  }
  .logout-icon {
    display: none;
  }
  .logout-btn {
    display: none;
  }
}